# .NET Core / ASP.NET Core
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
appsettings.Development.json

# Visual Studio
.vs/
*.vsidx
*.vspscc
*.vsscc
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# GitHub instructions folder
.github/

#examples
examples/